{% extends 'base.html.twig' %}

{% block title %} Ajouter un Cours {% endblock %}

{% block body_content %}

    <h1> Ajouter un Cours !</h1>

    {{ form_start(courseForm) }}
    {{ form_widget(courseForm) }}
    {{ form_end(courseForm) }}
    <button type="submit" class="btn btn-primary">
        Ajouter
    </button>


{% endblock %}