:root{
    --col-navbar :rgba(23, 16, 36, 0.92);
    --main_bg_color: rgb(170, 52, 52);
    --navbar_col:rgba(8, 7, 7, 0.911);
    --hover_bg_col:rgba(63, 218, 172, 0.911);
    --text_col:rgba(255, 255, 255, 0.911);
    --text_hover_col:rgb(105, 253, 142);
    --overlay_bg_col:rgba(146, 146, 146, 0.534);
    --overlay_bg_dark_col: rgba(32, 29, 29, 0.67);
    --overlay_fg_col:rgba(233, 224, 224, 0.534);

}


body{
    margin: 0;
    padding: 0;
}


.navbar{
    background-color: var(--col-navbar);
}
.navbar-userImg {

    width: 50px;
    height: 50px;
    filter: contrast(1.1);
}

.navbar-userImg:hover{
    transform: scale(1.2);
    filter: contrast(1.5);
}



