body{
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.userImgList{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 2px;
    object-fit: cover;

}

.sexeImgList{

    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px 0;
    object-fit: cover;
}

