
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <script src="https://kit.fontawesome.com/00eef3ac9c.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/main.css">
        {% endblock %}

    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand text-warning ml-4" href="#"><i class="fas fa-graduation-cap"> </i> ParSon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item mx-auto">
                    <a class="nav-link" href="#"> <i class="fas fa-users-cog"></i> Utilisateurs</a>
                </li>
                <li class="nav-item dropdown mx-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="formation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-chalkboard-teacher"></i> Formations
                    </a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="formation">
                        <a class="dropdown-item" href="#"><i class="far fa-plus-square"></i> Un cours</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-stream"></i> Tous les cours</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-award"></i> Mes cours</a>
                    </div>
                </li>
            </ul>
            {#<ul class="navbar-nav my-2 my-lg-0">#}
                {#<li class="nav-item">#}
                    {#<a href="" class="btn btn-outline-warning  mr-lg-2 col-sm-12"> Inscription </a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a href="" class="btn btn-outline-success ml-lg-2 my-2 my-sm-0 col-sm-12"> Connexion</a>#}
                {#</li>#}
            {#</ul>#}

            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item dropdown mx-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="compte" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="navbar-userImg rounded-circle mr-2" src="/img/profil_default_male.png" alt=""> Chihab Eddine
                    </a>
                    <div class="dropdown-menu col-lg-12 px-3" role="menu" aria-labelledby="compte">
                        <a class="dropdown-item" href="#"><i class="fas fa-address-card"></i>  Mon profil</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-award"></i> Mes cours</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-poll"></i> Mes notes</a>
                        <div class="dropdown-divider"></div>
                        <a class="btn btn-outline-danger w-100" href="#"><i class="fas fa-power-off"></i> Déconnexion</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
